In [6]:
import pandas as pd


ca_income = pd.read_csv("2016_income_data.csv")
ca_health = pd.read_csv("2016_health_data.csv")


ca_income_df = pd.DataFrame(ca_income)
ca_health_df = pd.DataFrame(ca_health)


ca_income_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Premature age-adjusted mortality,Unnamed: 4,Unnamed: 5,Unnamed: 6,Child mortality,Unnamed: 8,Unnamed: 9,...,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84
0,FIPS,State,County,# Deaths,Age-Adjusted Mortality,95% CI - Low,95% CI - High,# Deaths,Child Mortality Rate,95% CI - Low,...,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low,95% CI - High,% Female,# Rural,% Rural,NaN
1,06000,California,NaN,312690,273,272,274,14933,40,40,...,14920185,38.5,3780555,10.6,10.6,10.7,50.3,1880350,5.0,NaN
2,06001,California,Alameda,12315,256,252,261,521,38,35,...,528973,32.8,135827,9.3,NaN,NaN,51.0,5869,0.4,NaN
3,06003,California,Alpine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,722,64.7,23,2.0,0.0,6.5,48.0,1175,100.0,NaN
4,06005,California,Amador,516,305,276,334,NaN,NaN,NaN,...,29265,79.6,536,1.5,0.8,2.2,46.9,23016,60.4,NaN

In [7]:
new_header = ca_income_df.iloc[0]
ca_income_df = ca_income_df[1:]
ca_income_df.columns = new_header

ca_income_df.head()

,FIPS,State,County,# Deaths,Age-Adjusted Mortality,95% CI - Low,95% CI - High,# Deaths,Child Mortality Rate,95% CI - Low,...,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low,95% CI - High,% Female,# Rural,% Rural,nan
1,06000,California,NaN,312690,273,272,274,14933,40,40,...,14920185,38.5,3780555,10.6,10.6,10.7,50.3,1880350,5.0,NaN
2,06001,California,Alameda,12315,256,252,261,521,38,35,...,528973,32.8,135827,9.3,NaN,NaN,51.0,5869,0.4,NaN
3,06003,California,Alpine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,722,64.7,23,2.0,0.0,6.5,48.0,1175,100.0,NaN
4,06005,California,Amador,516,305,276,334,NaN,NaN,NaN,...,29265,79.6,536,1.5,0.8,2.2,46.9,23016,60.4,NaN
5,06007,California,Butte,2750,376,361,390,87,48,38,...,164768,73.5,5464,2.6,2.3,2.9,50.5,41584,18.9,NaN

In [8]:
list(ca_income_df.columns.values)

['FIPS',
 'State',
 'County',
 '# Deaths',
 'Age-Adjusted Mortality',
 '95% CI - Low',
 '95% CI - High',
 '# Deaths',
 'Child Mortality Rate',
 '95% CI - Low',
 '95% CI - High',
 '# Deaths',
 'Infant Mortality Rate',
 '95% CI - Low',
 '95% CI - High',
 '% Frequent Physical Distress',
 '95% CI - Low',
 '95% CI - High',
 '% Frequent Mental Distress',
 '95% CI - Low',
 '95% CI - High',
 '% Diabetic',
 '95% CI - Low',
 '95% CI - High',
 '# HIV Cases',
 'HIV Prevalence Rate',
 '# Food Insecure',
 '% Food Insecure',
 '# Limited Access',
 '% Limited Access',
 '# Drug Overdose Deaths',
 'Drug Overdose Mortality Rate',
 'Range Drug Overdose Mortality Rate',
 '# Motor Vehicle Deaths',
 'MV Mortality Rate',
 '95% CI - Low',
 '95% CI - High',
 '% Insufficient Sleep',
 '95% CI - Low',
 '95% CI - High',
 '# Uninsured',
 '% Uninsured',
 '95% CI - Low',
 '95% CI - High',
 '# Uninsured',
 '% Uninsured',
 '95% CI - Low',
 '95% CI - High',
 'Costs',
 'Other PCP Rate',
 'Other PCP Ratio',
 'Other PCP Rate',
 'Other PCP Ratio',
 'Household Income',
 '95% CI - Low',
 '95% CI - High',
 '% Free Lunch',
 'Segregation index',
 'Segregation Index',
 'Homicide Rate',
 '95% CI - Low',
 '95% CI - High',
 'Population',
 '% < 18',
 '% 65 and over',
 '# African American',
 '% African American',
 '# American Indian/Alaskan Native',
 '% American Indian/Alaskan Native',
 '# Asian',
 '% Asian',
 '# Native Hawaiian/Other Pacific Islander',
 '% Native Hawaiian/Other Pacific Islander',
 '# Hispanic',
 '% Hispanic',
 '# Non-Hispanic White',
 '% Non-Hispanic White',
 '# Not Proficient in English',
 '% Not Proficient in English',
 '95% CI - Low',
 '95% CI - High',
 '% Female',
 '# Rural',
 '% Rural',
 nan]

In [9]:
ca_income_df_cleanup = ca_income_df[["County", "# Deaths", "# Limited Access", "% Limited Access", "# Uninsured", 
                                     "% Uninsured", "Household Income", "Population", "# Rural", "% Rural"]].copy()
ca_income_df_cleanup.head()

,County,# Deaths,# Deaths,# Deaths,# Limited Access,% Limited Access,# Uninsured,# Uninsured,% Uninsured,% Uninsured,Household Income,Population,# Rural,% Rural
1,NaN,312690,14933,18256,1164228,3,5718351,754701,24,8,61927,38802500,1880350,5.0
2,Alameda,12315,521,619,24227,2,178422,21348,17,6,76996,1610921,5869,0.4
3,Alpine,NaN,NaN,NaN,153,13,141,28,20,11,53003,1116,1175,100.0
4,Amador,516,NaN,NaN,1200,3,3513,516,18,9,54610,36742,23016,60.4
5,Butte,2750,87,98,15882,7,28274,3367,21,7,42302,224241,41584,18.9

In [10]:
ca_income_df_cleanup.columns=["County", "# Premature Deaths", "# Child Deaths", "# Infant Deaths", "# Limited Access", 
                             "% Limited Access", "# Uninsured Adults", "# Uninsured Children", "% Uninsured Adults", 
                             "% Uninsured Children", "Household Income", "Population", "# Rural", "% Rural"]
ca_income_df_cleanup.head()

,County,# Premature Deaths,# Child Deaths,# Infant Deaths,# Limited Access,% Limited Access,# Uninsured Adults,# Uninsured Children,% Uninsured Adults,% Uninsured Children,Household Income,Population,# Rural,% Rural
1,NaN,312690,14933,18256,1164228,3,5718351,754701,24,8,61927,38802500,1880350,5.0
2,Alameda,12315,521,619,24227,2,178422,21348,17,6,76996,1610921,5869,0.4
3,Alpine,NaN,NaN,NaN,153,13,141,28,20,11,53003,1116,1175,100.0
4,Amador,516,NaN,NaN,1200,3,3513,516,18,9,54610,36742,23016,60.4
5,Butte,2750,87,98,15882,7,28274,3367,21,7,42302,224241,41584,18.9

In [11]:
ca_health.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Premature death,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Poor or fair health,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Long commute - driving alone,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,FIPS,State,County,# Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,% Fair/Poor,95% CI - Low,...,% Drive Alone,95% CI - Low,95% CI - High,Z-Score,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low,95% CI - High,Z-Score,NaN
1,06000,California,NaN,312690,5275,5249,5300,NaN,18,17,...,73,73,73,NaN,12107899,38,37,38,NaN,NaN
2,06001,California,Alameda,12315,4886,4766,5005,-0.85,13,13,...,64,64,65,-1.29,451989,42,41,42,1.05,NaN
3,06003,California,Alpine,NaN,NaN,NaN,NaN,NaN,16,15,...,56,40,72,NaN,270,54,22,86,NaN,NaN
4,06005,California,Amador,516,5776,4845,6706,-0.33,13,12,...,78,75,80,0.61,9216,40,35,45,0.92,NaN

In [12]:
new_header2 = ca_health_df.iloc[0]
ca_health_df = ca_health_df[1:]
ca_health_df.columns = new_header2

ca_health_df.head()

,FIPS,State,County,# Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,% Fair/Poor,95% CI - Low,...,% Drive Alone,95% CI - Low,95% CI - High,Z-Score,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low,95% CI - High,Z-Score,nan
1,06000,California,NaN,312690,5275,5249,5300,NaN,18,17,...,73,73,73,NaN,12107899,38,37,38,NaN,NaN
2,06001,California,Alameda,12315,4886,4766,5005,-0.85,13,13,...,64,64,65,-1.29,451989,42,41,42,1.05,NaN
3,06003,California,Alpine,NaN,NaN,NaN,NaN,NaN,16,15,...,56,40,72,NaN,270,54,22,86,NaN,NaN
4,06005,California,Amador,516,5776,4845,6706,-0.33,13,12,...,78,75,80,0.61,9216,40,35,45,0.92,NaN
5,06007,California,Butte,2750,7437,7019,7855,0.64,15,15,...,74,73,75,0.10,63163,22,20,23,-0.91,NaN

In [13]:
list(ca_health_df.columns.values)

['FIPS',
 'State',
 'County',
 '# Deaths',
 'Years of Potential Life Lost Rate',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '% Fair/Poor',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 'Physically Unhealthy Days',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 'Mentally Unhealthy Days',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 'Unreliable',
 '# Low Birthweight Births',
 '# Live Births',
 '% LBW',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '% Smokers',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '% Obese',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 'Food Environment Index',
 'Z-Score',
 '% Physically Inactive',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '% With Access',
 'Z-Score',
 '% Excessive Drinking',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Alcohol-Impaired Driving Deaths',
 '# Driving Deaths',
 '% Alcohol-Impaired',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Chlamydia Cases',
 'Chlamydia Rate',
 'Z-Score',
 'Teen Births',
 'Teen Population',
 'Teen Birth Rate',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Uninsured',
 '% Uninsured',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Primary Care Physicians',
 'PCP Rate',
 'PCP Ratio',
 'Z-Score',
 '# Dentists',
 'Dentist Rate',
 'Dentist Ratio',
 'Z-Score',
 '# Mental Health Providers',
 'MHP Rate',
 'MHP Ratio',
 '# Mental Health Providers',
 'MHP Rate',
 'MHP Ratio',
 'Z-Score',
 '# Medicare Enrollees',
 'Preventable Hosp. Rate',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Diabetics',
 '% Receiving HbA1c',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Medicare Enrollees',
 '% Mammography',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 'Cohort Size',
 'Graduation Rate',
 'Z-Score',
 '# Some College',
 'Population',
 '% Some College',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Unemployed',
 'Labor Force',
 '% Unemployed',
 'Z-Score',
 '# Children in Poverty',
 '% Children in Poverty',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '80th Percentile Income',
 '20th Percentile Income',
 'Income Ratio',
 'Z-Score',
 '# Single-Parent Households',
 '# Households',
 '% Single-Parent Households',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Associations',
 'Association Rate',
 'Z-Score',
 '# Violent Crimes',
 'Violent Crime Rate',
 'Z-Score',
 '# Injury Deaths',
 'Injury Death Rate',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 'Average Daily PM2.5',
 'Z-Score',
 'Presence of violation',
 'Z-Score',
 '# Households with Severe Problems',
 '% Severe Housing Problems',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Drive Alone',
 '# Workers',
 '% Drive Alone',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 '# Workers who Drive Alone',
 '% Long Commute - Drives Alone',
 '95% CI - Low',
 '95% CI - High',
 'Z-Score',
 nan]

In [14]:
ca_health_df_cleanup = ca_health_df[["County", "Years of Potential Life Lost Rate", "# Uninsured", "% Uninsured", 
                                     "# Primary Care Physicians", "# Mental Health Providers", "# Medicare Enrollees",
                                    "Preventable Hosp. Rate", "Graduation Rate", "# Some College", "% Some College",
                                    "# Unemployed", "% Unemployed", "# Children in Poverty", "% Children in Poverty",
                                    "80th Percentile Income", "20th Percentile Income", "Income Ratio", "# Single-Parent Households",
                                    "% Single-Parent Households", "# Violent Crimes", "Violent Crime Rate", "# Households with Severe Problems",
                                    "% Severe Housing Problems"]]

ca_health_df_cleanup.head()

,County,Years of Potential Life Lost Rate,# Uninsured,% Uninsured,# Primary Care Physicians,# Mental Health Providers,# Mental Health Providers,# Medicare Enrollees,# Medicare Enrollees,Preventable Hosp. Rate,...,% Children in Poverty,80th Percentile Income,20th Percentile Income,Income Ratio,# Single-Parent Households,% Single-Parent Households,# Violent Crimes,Violent Crime Rate,# Households with Severe Problems,% Severe Housing Problems
1,NaN,5275,6382717,19,30081,105233,108936,2535193,198925,41,...,23,126489,24495,5.2,2930678,32,160007,425,3554385,29
2,Alameda,4886,197119,14,1675,7812,7937,88986,6859,38,...,14,150027,27647,5.4,97799,29,11051,723,135305,25
3,Alpine,NaN,166,18,0,7,7,NaN,NaN,NaN,...,28,117650,22733,5.2,68,29,8,719,55,14
4,Amador,5776,3966,16,24,58,60,6644,604,36,...,19,102310,22476,4.6,1755,31,113,294,3105,22
5,Butte,7437,31203,17,145,1020,1033,34269,2927,46,...,24,90586,17709,5.1,16040,36,674,304,20180,24

In [15]:
list(ca_health_df_cleanup.columns.values)

['County',
 'Years of Potential Life Lost Rate',
 '# Uninsured',
 '% Uninsured',
 '# Primary Care Physicians',
 '# Mental Health Providers',
 '# Mental Health Providers',
 '# Medicare Enrollees',
 '# Medicare Enrollees',
 'Preventable Hosp. Rate',
 'Graduation Rate',
 '# Some College',
 '% Some College',
 '# Unemployed',
 '% Unemployed',
 '# Children in Poverty',
 '% Children in Poverty',
 '80th Percentile Income',
 '20th Percentile Income',
 'Income Ratio',
 '# Single-Parent Households',
 '% Single-Parent Households',
 '# Violent Crimes',
 'Violent Crime Rate',
 '# Households with Severe Problems',
 '% Severe Housing Problems']

In [16]:
ca_health_df_cleanup.columns=["County", "Years of Potential Life Lost Rate", "# Uninsured", "% Uninsured", 
                              "# Primary Care Physicians", "# Mental Health Providers", "Mental Health drop", 
                              "# Medicare Enrollees", "Medicare Enrollees drop","Preventable Hosp. Rate", 
                              "Graduation Rate", "# Some College", "% Some College","# Unemployed", "% Unemployed", 
                              "# Children in Poverty", "% Children in Poverty", "80th Percentile Income", "20th Percentile Income", 
                              "Income Ratio", "# Single-Parent Households", "% Single-Parent Households", "# Violent Crimes", 
                              "Violent Crime Rate", "# Households with Severe Problems", "% Severe Housing Problems"]
ca_health_df_cleanup.head()

,County,Years of Potential Life Lost Rate,# Uninsured,% Uninsured,# Primary Care Physicians,# Mental Health Providers,Mental Health drop,# Medicare Enrollees,Medicare Enrollees drop,Preventable Hosp. Rate,...,% Children in Poverty,80th Percentile Income,20th Percentile Income,Income Ratio,# Single-Parent Households,% Single-Parent Households,# Violent Crimes,Violent Crime Rate,# Households with Severe Problems,% Severe Housing Problems
1,NaN,5275,6382717,19,30081,105233,108936,2535193,198925,41,...,23,126489,24495,5.2,2930678,32,160007,425,3554385,29
2,Alameda,4886,197119,14,1675,7812,7937,88986,6859,38,...,14,150027,27647,5.4,97799,29,11051,723,135305,25
3,Alpine,NaN,166,18,0,7,7,NaN,NaN,NaN,...,28,117650,22733,5.2,68,29,8,719,55,14
4,Amador,5776,3966,16,24,58,60,6644,604,36,...,19,102310,22476,4.6,1755,31,113,294,3105,22
5,Butte,7437,31203,17,145,1020,1033,34269,2927,46,...,24,90586,17709,5.1,16040,36,674,304,20180,24

In [17]:
ca_health_df_drop = ca_health_df_cleanup.drop(["Mental Health drop", "Medicare Enrollees drop",], axis=1)
ca_health_df_drop.head()

,County,Years of Potential Life Lost Rate,# Uninsured,% Uninsured,# Primary Care Physicians,# Mental Health Providers,# Medicare Enrollees,Preventable Hosp. Rate,Graduation Rate,# Some College,...,% Children in Poverty,80th Percentile Income,20th Percentile Income,Income Ratio,# Single-Parent Households,% Single-Parent Households,# Violent Crimes,Violent Crime Rate,# Households with Severe Problems,% Severe Housing Problems
1,NaN,5275,6382717,19,30081,105233,2535193,41,85,6648171,...,23,126489,24495,5.2,2930678,32,160007,425,3554385,29
2,Alameda,4886,197119,14,1675,7812,88986,38,81,338922,...,14,150027,27647,5.4,97799,29,11051,723,135305,25
3,Alpine,NaN,166,18,0,7,NaN,NaN,NaN,191,...,28,117650,22733,5.2,68,29,8,719,55,14
4,Amador,5776,3966,16,24,58,6644,36,86,4104,...,19,102310,22476,4.6,1755,31,113,294,3105,22
5,Butte,7437,31203,17,145,1020,34269,46,87,33200,...,24,90586,17709,5.1,16040,36,674,304,20180,24

In [19]:
ca_health_df_drop.to_csv("county_health_df.csv")
ca_income_df_cleanup.to_csv("county_income_df.csv")